<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>HOME</title>
</head>
<body>
    <div class="container">
        <button type="submit">
            <a href="http://localhost:8080/userdata" rel="noopener noreferrer">USERS</a>
        </button>
    </div>
</body>
</html>